---
import Metadata from "../components/metadata.astro"
import GlobalStyle from "../components/global-style.astro"
import Logo from "../components/logo.vue"
import AboutMe from "../components/about-me.vue"
import ProjectsList from "../components/projects-list.astro"
import BigButton from "../components/big-button.vue"
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <Metadata/>
		<meta name="theme-color" content="#f0f8ff" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#05f" media="(prefers-color-scheme: dark)">
        <title>Jack Guinane</title>
		<GlobalStyle/>
    </head>
    <body>
		<div class="frame"/>
		<Logo fixed/>
		<main>
			<section id="about-me">
				<AboutMe/>
			</section>
			<section id="projects">
				<ProjectsList/>
			</section>
		</main>
		<BigButton text="Email me!" dir="right" href="mailto:jackguinane@gmail.com">@</BigButton>
    </body>
</html>

<style>
	main
	{
		margin: 100px;
	}

	#about-me
	{
		max-width: 850px;
	}

	.frame
	{
		pointer-events: none;
		z-index: -99;
		position: fixed;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		border: 2px solid var(--foreground);
		border-radius: 3px;
	}

	@media screen and (max-width: 1020px)
	{
		main
		{
			margin: 100px 60px;
		}
	
		#about-me
		{
			max-width: 700px;
		}
	}

	@media screen and (max-width: 740px)
	{
		main
		{
			margin: 80px 50px;
		}
	}

	@media screen and (max-width: 500px)
	{
		#about-me
		{
			position: fixed;
			top: 40px;
			left: 40px;
			right: 40px;
		}

		#projects
		{
			position: absolute;
			left: 0;
			bottom: 20px;
			overflow-x: scroll;
			width: 100%;
		}
	}
</style>